.loading {
  position: relative;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  outline: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading > div {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--first-color-dark);
  animation: load 2s infinite linear;
}

.loading > div:nth-child(2) {
  animation-delay: 0.3s;
}

.loading > div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes load {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(0%);
  }
}
