.selectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 6rem;
}

.titleFilter {
  margin-bottom: 1rem;
}

@media (min-width: 645px) {
  .selectsContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
}
