.container {
  margin: 1rem auto;
}

.main {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 5vh;
}

.searchInput {
  height: 50px;
  border: 1px solid var(--first-color);
  outline: none;
  border-radius: 4px 0px 0px 4px;
  width: 100%;
  padding: 13px;
  font-size: 13pt;
}

.searchInput::placeholder {
  color: var(--black-color);
}

.errorMessage {
  margin: 10px auto;
  font-size: 1.2rem;
}

.buttonInput {
  font-size: 100%;
  width: 40%;
  height: 50px;
  padding: 5px 5px;
  border: none;
  background-color: var(--first-color);
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}

.buttonInput:hover {
  background-color: rgba(235, 196, 132, 0.7);
}
